* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
  background-color: aliceblue;
}

main {
  margin: 50px auto;
  width: 90vw;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #6a6a6a;
}

.num-form {
  margin: 40px auto;
  display: flex;
  background-color: #dcf3d0;
  flex-direction: column;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 25px 35px;
}

label {
  font-size: 20px;
}

#num {
  width: 80%;
  padding: 8px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #777;
  text-indent: 11px;
  outline: none;
  font-size: 16px;
}

#num:focus {
  border: 2px solid green;
  background-color: #aadacb;
}

.error {
  color: #d70000;
  font-weight: 600;
}

#submit-guess {
  width: 120px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* color: rgba(255, 255, 255, 0.87); */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #75db77;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

#submit-guess:hover {
  border: 1px solid green;
  color: white;
}

.msg {
  display: none;
  width: 80%;
  margin: auto;
  background-color: #e36a6a;
  color: whitesmoke;
  font-weight: 600;
  padding: 10px 28px;
  border-radius: 9px;
  box-shadow: 0px 2px 2px 2px #9b7575;
  /* height: 40px; */
}


@media screen and (min-width: 600px) {
  main {
    width: 550px;
  }
}